button,
h4,
.codigoUnico {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #162029;
  color: #fff;
  font-family: "Electrolize", sans-serif; 
}

button {
  background: #FCA914; 
  border-radius: 5px;
  color: #151F29;
  font-weight: 500;
  justify-self: center;
  width: 30vh;
  padding: 1.8vh;
  font-size: 2vh;
  letter-spacing: 0.2vh;
  font-weight: 600;
}

input {
  width: 30vh;
  height: 6vh;
  background-color: #162E46;
  color: #ffffff;
  padding: 1vh;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

form span {
  margin-bottom: 3vh;
}
