.home {
  height: 100vh; /* ocupa a tela inteira */
  display: grid;
  place-items: center; 
}

.home-content {
  display: grid;
  grid-template-rows: 1fr auto; 
  gap: 1rem; 
  align-items: center;
}

.home-content img {
  padding: 12px;
  width: 65vh;  
}
