.criar-jogador {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  margin-top: 4vh;
  }

.jogador-content {
  display: grid;
  grid-template-rows: auto 1fr; 
  gap: 1rem; 
  align-items: center;
  margin: 0 auto;
  margin-top: 4vh;
}

.filtro-time {
  display: grid;
  gap: 1vh;
}

.filtro-time select {
  appearance: none;       
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 2.1vh;
  width: 43vh;
  height: 6vh;
  background-color: #162E46;
  color: #ffffff;
  padding: 2vh;
  border: none;
  border-radius: 5px;
  outline: none;
}

.filtro-time select:focus {
  box-shadow: 0 0 0 2px #FCA914;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: '⏷'; 
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
  font-size: 2vh;
}

.labels {
  display: grid;
  grid-template-columns: 25vh 8vh;
  gap: 1vh;
  padding: 0.2vh;
  margin-bottom: 1vh;
}

.jogador-nota {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 1vh;
}

.jogador-nota .jogador {
  width: 25vh;
  margin-bottom: 1vh;
}

.jogador-nota .nota {
  width: 8vh;
  margin-bottom: 1vh;
}

.jogador-nota img {
  width: 3.5vh;
}

input:focus {
  box-shadow: 0 0 0 2px #FCA914;
}

.btn-salvar button {
  width: 43vh;
  margin-bottom: 2vh;
}

.footer {
text-align: center;
}

.cliquei {
  color: #6eaa5e;
  opacity: 0;
  transform: translateY(20px);
  animation: riseUp 0.4s forwards;
  text-align: center;
}

@keyframes riseUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

