h4 {
  font-size: 2vh;
  padding: 2vh;
  text-align: center;
  font-weight: 400;
}

.criar-time {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  margin-top: 4vh;
}

.app-bar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
}

.app-bar svg {
  margin-left: 3vh;
  height: 100%;
}

.app-bar span {
  font-size: 3vh;
  text-transform: uppercase;
  padding: 10px 28px 10px 0;
}

.times {
  display: grid;
  margin: 3vh 0;
}

.times span {
  text-align: center;
  color:  #6eaa5e;
  font-size: 2vh;
}

.dados-time {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1vh;
}

.dados-time input[type="color"]{
  width: 6vh;
  margin-bottom: 1.1vh;
}

.dados-time .read-only input,
.dados-time .read-only input[type="color"] {
  background-color: #35526F;
  cursor: not-allowed;
}

.read-only input:focus {
  box-shadow: none;
}

.btn-add {
  width: 4vh;
  height: 4vh;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}

.btn-add-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2vh 0;
}

.botoes-escolha {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.botoes-escolha button {
width: 32vh;
}

.ativo  {
  background-color: #006400;
}