.criar-time {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  margin-top: 4vh;
}

.app-bar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
}

.app-bar svg {
  margin-left: 3vh;
  height: 100%;
}

.app-bar span {
  font-size: 3vh;
  text-transform: uppercase;
  padding: 10px 28px 10px 0;
}

.times {
  display: grid;
  border: 1px solid red;
}

.dados-time {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1vh;
}

.dados-time input[type="color"] {
  width: 6vh;
}

.btn-add {
  width: 4vh;
  height: 4vh;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}

.btn-add-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2vh 0;
}