p {
  font-size: 2vh;
}

.torneio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
  gap: 3vh;            
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  margin-bottom: 3vh;
}

.cabecalho img {
  width: 12vh;
}

.cabecalho span {
  font-size: 4vh;
  padding: 12px 0 0 12px;
}

.torneio h4 {
  width: 90%;
  font-size: 3vh;
  text-align: center;
  font-weight: 400;
}

.codigoUnico {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.codigoUnico span {
  width: 26vh;
  height: 7vh;
  background-color: #162E46;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 2.6vh;
  font-weight: 600;
  padding: 0 2vh;
  cursor: pointer;  
  display: flex; 
  justify-content: center; 
  align-items: center;
  border: 2px solid #fca914;
}

.codigoUnico svg {
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}

.buscarTorneio {
  cursor: pointer;
  text-decoration: underline;
  font-size: 2.6vh;
}

.proximo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proximo svg {
  width: 4vh;
  height: 4vh;
}

.ativo,
.sucesso {
  font-size: 2vh;
  color: #6eaa5e;
}

.erro {
  font-size: 2vh;
  color: red;
}

.sucesso,
.erro {
  opacity: 0;
  transform: translateY(20px);
  animation: riseUp 0.4s forwards;
  text-align: center;
}

.inserirCodigo form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh
}

.inserirCodigo label {
  align-self: start;
}

.inserirCodigo input {
  font-family: "Electrolize", sans-serif;
  text-align: center;
  width: 30vh;
  font-size: 2.5vh;
}

@keyframes riseUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


